body {
    background-image: url(./resources/linear-red-gradient-black-5120x2880-c2-dc143c-000000-a-285-f-14.png);
    background-position: auto;
    background-size: auto;
}

.wrapper {
    margin: 0;
    padding: 0;
}

.button_handler {
    display: flex;
    cursor: pointer;
}

#invite_button {
    top: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 60px;
    width: 200px;
    height: 60px;
    color: white;
    font-size: 24px;
    font-family: 'Muli', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    background: linear-gradient(90deg, #200200, #850b0b, #200200, #200200);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
    
}

#invite_button:hover {
    animation: animate 8s linear infinite;
}

@keyframes animate 
{
    0%
    {
        background-position: 0%;
    }
    100%
    {
        background-position: 400%;
    }
}

#invite_button::before {
    content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    Left: -5px;
    Right: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #200200, #850b0b, #200200, #200200);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;

}

#invite_button:hover:before {
    animation: animate 7s linear infinite;
    filter: blur(15px);
    opacity: 1;

}

.Feedback_div {
    margin: 0;
    padding: 0;
}

#Feedback_p {
    cursor: pointer; 
    right: 1%;
    position: absolute;
    bottom: 89%;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.753);
}

#Feedback_p::after {
    content: "";
    display: block;
    width: 0;
    height: 2.4px;
    background: #850b0b;
    transition: width .3s;
}

#Feedback_p:hover::after {
    width: 100%;
    transition: width .3s;
}

#Feedback_p:hover {
    color: rgb(255, 255, 255);
}

.icon_div {
    width: 150px;
}

#discord_ico {
    cursor: pointer;
    width: 150px;
}